<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/img/Logo.ico" />
    <title>Pawfect Snuggles</title>
  </head>
  <body>
    <header>
        <img src="../static/img/Logo.png" alt="brand logo" />
        <nav>
          <section class="options">
            <a href="{{url_for('home')}}">SERVICES</a>
            <a href="{{url_for('about')}}">ABOUT</a>
            <a href="{{url_for('team')}}">OUR TEAM</a>
          </section>
        </nav>
        <a href="{{url_for('dashboard')}}" class="contactBtn">Costumer Profile</a>
      </header>
      
      <section class="about-us">
        <h2>About Us:</h2>
        <p>
          At <strong>Pawfect Snuggles</strong>, we are passionate about providing unparalleled care and grooming for your furry friends. 
          Founded with a love for pets and a commitment to their happiness, our mission is to create a haven where pets are pampered, loved, 
          and treated like family.
        </p>
        <p>
          We believe that grooming should be a relaxing and enjoyable experience for pets of all sizes and breeds. 
          That’s why our highly trained team uses gentle techniques, premium products, and plenty of cuddles to ensure your pet 
          feels safe, happy, and comfortable.
        </p>
        <p>
          From luxurious spa treatments to professional grooming and nail care, we aim to bring out the best in every wagging tail 
          and purring companion. Whether it’s their first visit or one of many, your pet’s well-being and happiness are our top priorities.
        </p>
        <p>
          Come experience the <strong>Pawfect Snuggles</strong> difference — where love, care, and quality come together to make every pet feel special!
        </p>
      </section>
      
  </body>
</html>
